<!-- about-me.html -->
<section id="about-me" class="about-me-section">
    <div class="container">
        <!-- Banner principal -->
        <div class="banner">
            <img src="/assets/img/banners/banner-img1.png" alt="banner" class="banner-image">
            <div class="content">
                <div class="bienvenida">
                    <h3>¡Hola, bienvenido a mi portafolio!</h3>
                </div>
                <h1>SI LO PUEDES <span>IMAGINAR</span>
                    LO PUEDES <span>PROGRAMAR</span>
                </h1>
                <div class="buttons">
                    <button class="btn-primary">
                        <a href="#projects">Ver Proyectos</a>
                    </button>
                    <button class="btn-secondary">
                        <a href="#contact">Contáctame</a>
                    </button>
                </div>
            </div>
        </div>
        <p align="center">
            <a href="https://skillicons.dev">
                <img
                    src="https://skillicons.dev/icons?i=html,css,js,ts,nodejs,nextjs,react,tailwind,git,github,mysql,postgres,php,express,vscode,figma,twitter,windows,xd,visualstudio,threejs" />
            </a>
        </p>
        <!-- Info Content - Separado del banner -->
        <div class="info-wrapper">
            <div class="info-image">
                <img src="/assets/img/tegnologias/Flork-SobreMi.png" alt="Carlos Alvines">
            </div>

            <div class="info-text">
                <h2>Carlos Alvines</h2>
                <span>Ingeniero de Sistemas e Informática</span>

                <div class="social-buttons">
                    <button class="social-btn">
                        <a href="https://github.com/ProyectosCarfa" target="_blank">
                            <i class="fa-brands fa-github"></i> GitHub
                        </a>
                    </button>
                    <button class="social-btn">
                        <a href="https://www.linkedin.com/in/carlos-alvines-038776302/" target="_blank">
                            <i class="fa-brands fa-linkedin"></i> LinkedIn
                        </a>
                    </button>
                    <button class="social-btn">
                        <a href="" target="_blank">
                            <i class="fa-brands fa-threads"></i> Threads
                        </a>
                    </button>
                    <button class="social-btn">
                        <a href="mailto:alvinescarlos887@gmail.com" target="_blank">
                            <i class="fa-solid fa-envelope"></i> Gmail
                        </a>
                    </button>
                </div>

                <p class="description">
                    Carlos es un Ingeniero de Sistemas e Informática radicado en Perú, apasionado por transformar
                    desafíos complejos en soluciones innovadoras. Con una sólida formación en desarrollo de software y
                    una amplia experiencia en el campo, Carlos se destaca por su capacidad para diseñar y desarrollar
                    aplicaciones web y móviles de alta calidad.
                </p>

                <div class="experiencia">
                    <h3>Calculadora SubNeteo IPv4</h3>
                    <span>Redes y comunicación de datos I</span>
                    <div class="caracteristicas">
                        <ul>
                            <li>Se visualizó que se tardaba 20 a 30 minutos realizando subneteos a redes, con un margen
                                de error del 90%. Es por ello que realicé este programa con tecnología PWA, permitiendo
                                a los usuarios realizar subneteos de manera rápida y con un margen de error del 0%.</li>
                        </ul>
                        <img src="/assets/img/projects/SubNeteo.png" alt="Calculadora SubNeteo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>