<header class="main-header">
    <div class="container">
        <div class="logo">
            <img src="./assets/img/logo/logo-live.png" alt="logo-img">
            <span class="logo-text">LIVE</span>
        </div>

        <div class="nav" id="navMenu">
            <nav class="main-nav">
                <ul class="nav-list" id="navList"> <!-- ← AGREGAR ESTE ID -->
                    <li><a href="#about-me">Sobre Mí</a></li>
                    <li><a href="#projects">Proyectos</a></li>
                    <li><a href="#contact">Contactame</a></li>
                </ul>
            </nav>
        </div>

        <button class="menu-toggle" id="menuToggle">
            ☰
        </button>
    </div>
</header>
