<header class="main-header">
    <div class="container">
        <div class="logo">
            <img src="./assets/img/logo/logo-live.png" alt="logo-img">
        </div>


        <div class="nav">
            <nav class="main-nav">
                <ul class="nav-list">
                    <li><a href="#about-me">Sobre Mí</a></li>
                    <li><a href="#projects">Proyectos</a></li>
                    <li><a href="#contact">Contactame</a></li>
                </ul>
            </nav>
        </div>

        <button class="menu-toogle" id="menuToogle">
            ☰
        </button>
    </div>
</header>
